/* Whole page section */
.page-container {
  /* sets the global font family */
  font-family: 'Quicksand', sans-serif;
  /* Main page layout */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}

/* Header section */
.header {
  /* Grid item properties */
  grid-area: header;
  z-index: 2;
  /* Grid container properties */
  display: grid;
  grid-template-rows: min-content 1fr;
  /* align-content: space-between; */
  /* Header drop-shadow on main */
  box-shadow: 0 0.1rem 0.75rem #999;
  /* other properties */
  padding: 1rem 4rem 1rem 2rem;
  /* top, right, bottom, left */
}

/* Header upper section */
.header__upper {
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  align-items: center;
  gap: 3rem;
}

/* Header search bar & icon */
.header__search {
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: center;
  gap: 1rem;
}

.search__input {
  background-color: #e0e7ff;
  border-radius: 1rem;
  border-style: none;
  padding: 0.25rem 0.5rem;
  width: clamp(27ch, 85%, 75ch);
}

/* Header upper section user profile */
.header__user-profile--corner {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

/* Upper-corner user profile image */
.header__user-image--small {
  max-height: min(3rem, 100px);
  /* don't grow larger than original size */
}

.header__username--small {
  font-weight: 900;
  margin-right: auto;
}

/* Header lower section */
.header__lower {
  display: grid;
  grid-template-columns: 9fr repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
}

.header__user-display {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.header__user-profile {
  display: grid;
  grid-auto-rows: repeat(2, min-content);
}

/* Header user profile image */
.header__user-image {
  max-height: min(4rem, 150px);
  /* don't grow larger than original size */
}

.header__user-greeting {
  font-size: 0.75rem;
}

.header__username {
  font-size: 1.5rem;
  font-weight: 900;
}

.header__btn {
  /* appearance */
  background-color: #4f46e5;
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.6rem 1.8rem;
  /* positioning */
  margin-right: -1.5rem;
  margin-top: 1rem;
}

/* Sidebar section */
.sidebar {
  /* grid item properties */
  grid-area: sidebar;
  z-index: 3;

  /* grid container properties */
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 3rem;

  /* basic/element properties */
  background-color: #3730a3;
  color: white;
  padding: 1rem;
}

/* Sidebar logo */
.sidebar__logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
  justify-items: start;
}

.logo__img {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  max-height: 6ex;
}

.logo__text {
  /* grid item settings */
  grid-area: 1 / 2 / 2 / 3;
  /* font settings */
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.2em #000;

  margin: 0;
}

/* Sidebar nav links */
.sidebar__nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: min-content;
  gap: 1rem;
  align-items: center;
}

.sidebar__nav--secondary {
  /* align secondary links to bottom */
  align-self: end;
}

.nav__icon {
  margin: auto;
  max-height: 2rem;
}

.nav__link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em #000;
}

/* Main content section */
.main {
  /* grid item properties */
  grid-area: main;
  z-index: 1;
  /* grid container properties */
  display: grid;
  grid-template-areas:
    "project-board announcements"
    "project-board team";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  /* other display properties */
  background-color: #e0e7ff;
  /* layout properties */
  padding: 1rem 2rem 3rem 1rem;
}

/* Section Headings */
.main__section-heading {
  font-size: 1.25rem;
  font-weight: 100;
}

/* Project Board section */
.main__project-board-section {
  /* grid item properties */
  grid-area: project-board;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* Actual project board */
.main__project-board {
  /* grid container properties */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

/* card display for sections */
.main__card-display {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 5%;
  /* side stripe for ✨flair✨ */
  border-left: 0.5rem solid #6dd37f;
}

/* project idea card */
.main__project-card {
  /* grid container properties */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "project project"
    "author reactions";
  gap: 5%;
  align-items: center;
  /* other display & layout properties */
  /* font-size: 75%; */
}

/* project card content */
.project-card__text-preview {
  /* grid item properties */
  grid-area: project;
  align-self: stretch;
  /* inset box shadow */
  box-shadow: 0 0 10px #eee inset;
  /* other display properties */
  border-radius: 0.5em;
  padding: 1em;
}

.project-card__text-heading,
.project-card__text-para {
  margin: 1%;
}

/* project card author info */
.project-card__author-info {
  /* grid item properties */
  grid-area: author;
}

.project-card__author-icon {
  height: 3rem;
}

/* project card reaction buttons */
.project-card__btn-row {
  /* grid item properties */
  grid-area: reactions;
}

.project-card__btn-icon {
  height: 2rem;
  cursor: pointer;
}

/* Announcements section */
.main__announcements-section {
  grid-area: announcements;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* announcements card */
.main__announcements-card {
  font-size: min(1rem, 90%);
  display: grid;
}

/* Team section */
.main__team-section {
  grid-area: team;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main__team-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
}

.team-card__user {
  grid-column: 1 / 3;

  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  gap: 1em;
}

.team-card__user-icon {
  height: 3rem;
}

.user-info__user-tag {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: auto;
}

.user-info__user-status {
  font-size: 1rem;
  font-weight: 200;
  margin-top: auto;
}

.team-card__more {
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  justify-items: center;
}