/* Whole page section */
.page-container {
  /* sets the global font family */
  font-family: 'Quicksand', sans-serif;
  /* Main page layout */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}

/* Header section */
.header {
  grid-area: header;
  z-index: 2;

  box-shadow: 0.1rem 0 0.5rem #999;
}

/* Sidebar section */
.sidebar {
  /* grid item properties */
  grid-area: sidebar;
  z-index: 3;

  /* grid container properties */
  display: grid;
  grid-template-rows: min-content repeat(2, minmax(min-content, 1fr));
  gap: 3rem;

  /* basic/element properties */
  background-color: #312e81;
  color: white;
  padding: 1rem;
}
/* Sidebar logo */
.sidebar__logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  align-items: center;
  justify-items: start;
}

.logo__img {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  max-height: 6ex;
}

.logo__text {
  /* grid item settings */
  grid-area: 1 / 2 / 2 / 3;
  /* font settings */
  font-size: 3em;
  font-weight: 700;
  text-shadow: 0.1em 0.1em 0.2em #000;

  margin: 0;
}

/* Sidebar nav links */
.sidebar__nav {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: min-content;
  gap: 1rem;
  align-items: center;
}

.sidebar__nav--secondary {
  /* align secondary links to bottom */
  align-self: end;
}

.nav__icon {
  margin: auto;
  max-height: 2rem;
}

.nav__link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em #000;
}

/* Main content section */
.main {
  grid-area: main;
  z-index: 1;

  background-color: #e0e7ff;
}